@font-face {
  font-family: 'Peyda';
  src: url('/src/assets/fonts/peyda/woff/peydaWeb-light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'Peyda';
  src: url('/src/assets/fonts/peyda/woff/PeydaWeb-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'Peyda';
  src: url('/src/assets/fonts/peyda/woff/PeydaWeb-Bold.woff') format('woff');
  font-weight: 700;
}
